{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
  <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">
<!-- Page Header -->
<header class="masthead" style="">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h2>post.title</h2>
					<h3 class="subheading">post.subtitle</h3>
					<span class="meta">Posted by
              <a href="https://aamanprime.github.io/profile/">post.author.name</a>
              on post.date</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block body %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
        <div style="display: block; text-align: center">
        <h1 style="display: block"><img alt="" src="https://github.com/AamanPrime/Aaman_Blog/blob/master/ProfilePicture.png?raw=true" style="height:300px; width:300px display: block;" /></h1>

<h2>&#39;TheMn&#39; Al-Aaman&nbsp;&nbsp;&nbsp;</h2>
            <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/AamanPrime">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="https://wa.me/919773783714?text=Hello+TheMn">
                <span class="fa-stack fa-lg">
                 <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul></div>
    <div class="bio">
    <p>Hi, I'm Aaman. I&#39;m a beginner in the tech industry and it&#39;s my first developed website which I have created with my passion.</p>

<p>I&#39;m very interested in learning new things and finding opportunities that help me to get the best out of myself.</p>
    </div>



  </article>
<hr>


{% endblock %}
